* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    /* Background Color */
    --primary-color: #ff451b;
    --secondary-color: #ffb324;
    --dark-color: #494b50;
    --bg-dark-gray:#5c5d64;
    --bg-black:#1d1b1b;
    --dark-light-color:#777a7f;

    /* Text Color */
    --primary-text:#ff451b;
    --text-white:#fff;
    --text-gray:#a7afbd;

}
body {
    font-family: Arial;
    background-color: var(--bg-dark-gray);

}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
::-webkit-scrollbar {
    width: 0.25rem;
}
::-webkit-scrollbar-track {
    background: var(--bg-dark-gray);
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}
.main-btn {
    color: var(--text-white);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--primary-color);
    padding: .875rem 3.125rem;
    border-radius: .625rem;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.main-btn:hover {
    background-color: var(--secondary-color);
    color: var(--text-white);
}
h1 {
    font-size: 6.25rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1.6875rem;
    color: var(--text-white);
}
h2 {
    font-size: 2.5375rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--text-white);
}
h3 {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1;
    color: var(--primary-text);
}
h5 {
    font-size: 1.375rem;
    line-height: 1.5;
    color: var(--text-gray);
}
h6 {
    font-size: .875rem;
    line-height: 1.5;
    color: var(--text-white);
    font-weight: 400;
    opacity: .85;
}

p {
    color: var(--text-gray);
    font-size: 1.125rem;
    line-height: 1.6;
    font-weight: 400;
    margin: 1.875rem;
}
span {
    color: var(--text-white);
    font-size: 1rem;
    font-weight: 600;
}
a {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.3;
    color: var(--text-white);
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: var(--primary-color);
}
.icon-design {
    width: 5.625rem;
    height: 5.625rem;
    background-color: var(--secondary-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 2 Navbar */
.header-wrapper .navbar {
    padding: 0.9375rem 0;
    -webkit-transition:all .2s linear ;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition:all .2s linear;
    transition: all .2s linear;
}
.header-wrapper .navbar-brand img {
max-width: 14.375rem;
}
.header-scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--dark-color);
    -webkit-box-shadow:  0 0.25rem 0.375rem 0 rgba(12, 0, 46, .05);
    box-shadow: 0 0.25rem 0.375rem 0 rgba(12, 0, 46, .05);
}

/* 3 Banner */
.banner_wrapper .background_shape {
    position: absolute;
    top: 0;
    height: calc(100vh - 4.0625rem);
    left: 0;
    right: 0;
    /* background-image: url(../images/top-background.png); */
    background-position: center center;
    background-size: cover;
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 62%);
    z-index: -1;
}
/* Portfolio Image */
.round img {
    width: 570px;
    border-radius: 0px 150px 150px 150px;
}
.multicolor {
    background: linear-gradient(to left,violet,indigo,blue,green,yellow,orange,red);
    -webkit-background-clip: text;
    color: transparent;
}
.banner_wrapper .main-content {
    position: relative;
    z-index: 1;
    width: 100%;
    padding-top: 6.25rem;
}
.banner_wrapper .social-icon a img {
    width: 3.125rem;
    height: 3.125rem;
    transition: 0.3s ease-in;
}
.banner_wrapper .social-icon a:hover img {
    transform: translateY(-0.3125rem);
}
/* 4 Accordian Menu */
.main_menu_wrapper .accordion-item {
    background-color: transparent;
    margin: 0 0 1.5625rem;
}
.main_menu_wrapper .accordion-header .accordion-button {
margin: 0 .3125rem;
background-color: var(--dark-color);
box-shadow: 1.25rem 1.25rem 3rem rgb(108 99 255 / 10%);
border-radius: .9375rem !important;
line-height: 8.875rem;
padding: 0;
padding-right: 3.125rem;
-webkit-transition:all .3s ease ;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition:all .3s ease;
transition: all .3s ease;
}
.main_menu_wrapper .accordion-header .icon-box {
    width: 8.875rem;
    height: 100%;
    border-radius: .9375rem 0 .9375rem;
    background-color: var(--secondary-color);
    text-align: center;
}
.main_menu_wrapper .accordion-header .accordion-button::after {
    position: absolute;
    right: 0;
    width: 8.875rem;
    height: 100%;
    border-radius: 0.9375rem .9375rem 0;
    background-image: url(../images/up-arrow.svg);
    background-color: var(--secondary-color);
    background-size: 2.7rem;
    background-position: center center;
    -webkit-transition:all .3s ease ;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition:all .3s ease;
    transition: all .3s ease;
}
.main_menu_wrapper .accordion-header .accordion-button:not(.collapsed):after {
    border-radius: .9375rem 0 0 .9375rem;
    background-image: url(../images/down-arrow.svg);
}
.main_menu_wrapper .accordion-header:hover button,
.main_menu_wrapper .accordion-header .accordion-button:not(.collapsed) {
    background-color: var(--primary-color);   
}
.main_menu_wrapper .accordion-body {
    background-color: var(--dark-color);
    margin-top: 1.5625rem;
    padding: 4.375rem;
    border-radius: .9375rem;
}

/* 4.1 about */
.about_wrapper .accordion-body .card_img {
    width: 60%;
    border: 0;
    border-radius: .9375rem;
}
.about_wrapper .accordion-body .card_img img {
    border-radius: .9375rem;
}
.about_wrapper .card_detail {
    position: absolute;
    top: 3.75rem;
    right: 1.25rem;
    z-index: 1;
    width: 52%;
    background-color: var(--primary-color);
    color: var(--text-white);
    padding: 1.5625rem 1.8rem;
    border-radius: .9375rem;
}
.about_wrapper .card_detail ul li {
    border-bottom: .0625rem dashed rgba(255,255,255,.3);
    padding: .625rem 0;
}
/* 4.2 resume */
.resume_wrapper .title h2 {
    padding-left: 2.5rem;
    font-size: 2.1875rem;
}
.list {
    margin-bottom: 3rem;
}
.resume_wrapper .shape {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    border: .1875rem solid var(--primary-color);
}
.resume_wrapper .shape:before {
    position: absolute;
    content: '';
    width: .5rem;
    height: .5rem;
    border-radius: 100%;
    background-color: var(--primary-color);
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
}
.resume_wrapper .year span {
    font-size: 1.25rem;
    color: var(--primary-color);
    border: .0625rem solid var(--primary-color);
    border-radius: 3.125rem;
    padding: .5rem 2.1875rem .4375rem;
}
.resume_wrapper .progress {
    height: .4375rem;
    border-radius: 3.125rem;
    background-color: var(--dark-light-color);
    opacity: 0.80;
    margin-top: 1.5625rem;
}
.resume_wrapper .progress-bar {
    background-color: var(--primary-color);
    position: absolute;
    height: .3125rem;
    top: 3.125rem;
    border-radius: 3.125rem;
}
.resume_wrapper .progress span {
    position: absolute;
    right: 0;
    top: 1.25rem;
    color: var(--primary-color);
}
/* 4.3 portfolio */
.portfolio_wrapper .nav-link {
    color: var(--text-white);
    font-weight: 600;
    font-size: 1.125rem;
    letter-spacing: .0625rem;
    text-align: center;
}
.portfolio_wrapper .nav-link.active,
.portfolio_wrapper .show>.nav-link {
    background-color: transparent;
    color: var(--primary-color);
}
.portfolio_wrapper .portfolio-img {
    width: 100%;
    min-height: 23.75rem;
    height: 100%;
    position: relative;
    border-radius: .9375rem;
    cursor: pointer;
}
.portfolio_wrapper .portfolio-img>img {
    border-radius: .9375rem;
    object-fit: cover;
    object-position: center;
}
.portfolio_wrapper .portfolio-img .hidden-text {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 0;
z-index: 1;
background-color: rgba(255,69,27,.72);
border-radius: .625rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
transition: all 0.3s linear;
overflow: hidden;
}
.portfolio_wrapper .portfolio-img:hover .hidden-text {
height: 100%;
}


/* 4.4 services */

/* 4.5 blog */

/* particle */
canvas.particles-js-canvas-el {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1000;
    margin: 0px;
}
/* Contact us page */
.contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info {
    color: #fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}
.contact-info i {
    margin-right: 20px;
    font-size: 25px;
}
.contact-form {
    max-width: 700px;
    margin-right: 50px;
}
.contact-info, .contact-form {
    flex: 1;
}
.contact-form h2 {
    color: #fff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.contact-form .text-box {
    background: rgb(223, 147, 199);
    color: #fff;
    border: none;
    width: calc(50% -10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
.contact-form textarea {
    background: rgb(223, 147, 199);
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rbga(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
.contact-form .send-btn {
    float: right;
    background: #2E94E3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}
.contact-form .send-btn:hover {
    background: #0582E3;
}
.footer {
    text-align: center;
    color: #fff;
}